/*
  STYLES GUIDE
  0. RESET
  1. LAYOUT
  2. GENERIC ITEMS
  3. PARTS OF THE WEB
  4. LIST
  5. FORM
  6. ANIMATIONS
-------------------------------
  COLORS
   color1 => #2c3e56;
   color2 => #34495e;
   color3 => #3498db;
   color4 => #fff;
	 
*/

/* 0 RESET */
/* 1 LAYOUT */
/* 2 GENERIC ITEMS */
/* 3 PARTS OF THE WEB */
/* 4 LIST */
/* 5 FORM */
/* 6 ANIMATIONS */
